@font-face {
  font-family: "aubrey";
  src: url("../fonts/aubrey.eot");
  src: local("../fonts/aubrey");
  src: url("../fonts/aubrey.svg#aubrey") format("svg");
  src: url("../fonts/aubrey.otf") format("opentype");
}

@font-face {
  font-family: "bebasneue";
  src: url("../fonts/bebasneue.eot");
  src: local("../fonts/bebasneue");
  src: url("../fonts/bebasneue.svg#bebasneue") format("svg");
  src: url("../fonts/bebasneue.otf") format("opentype");
}
