@font-face {
  font-family: "Aubrey Regular";
  src: url('fonts/aubrey.eot');
  src: url('fonts/aubrey.eot?#iefix') format('eot'), url('fonts/aubrey.woff') format('woff'), url('fonts/aubrey.ttf') format('truetype'), url('fonts/aubrey.svg') format('svg');
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url('fonts/bebasneue.eot');
  src: url('fonts/bebasneue.eot?#iefix') format('eot'), url('fonts/bebasneue.woff') format('woff'), url('fonts/bebasneue.ttf') format('truetype'), url('fonts/bebasneue.svg') format('svg');
}
