/*
Syntax error: Invalid CSS after "none": expected expression (e.g. 1px, bold), was ";"
        on line 161 of c:/Users/Matt/Documents/Development/Web/sunshineandmagic-theme/sass/main.sass

Backtrace:
c:/Users/Matt/Documents/Development/Web/sunshineandmagic-theme/sass/main.sass:161
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/scss/parser.rb:1010:in `expected'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/script/lexer.rb:191:in `expected!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/script/parser.rb:465:in `assert_done'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/script/parser.rb:50:in `parse'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/script/parser.rb:140:in `parse'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/script.rb:31:in `parse'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:832:in `parse_script'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:593:in `parse_property'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:582:in `parse_property_or_rule'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:563:in `parse_line'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:456:in `build_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:475:in `block in append_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:474:in `each'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:474:in `append_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:465:in `block in build_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:458:in `each'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:458:in `build_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:475:in `block in append_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:474:in `each'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:474:in `append_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:330:in `_to_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:300:in `_render'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:247:in `render'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `block in compile'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `block (2 levels) in run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `block in run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:147:in `recompile'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `block in modified'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block in run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:87:in `perform'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/bin/compass:29:in `block in <top (required)>'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/bin/compass:43:in `call'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/bin/compass:43:in `<top (required)>'
c:/Ruby193/bin/compass:23:in `load'
c:/Ruby193/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"none\": expected expression (e.g. 1px, bold), was \";\"\A         on line 161 of c:/Users/Matt/Documents/Development/Web/sunshineandmagic-theme/sass/main.sass"; }
