@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/reset
@import compass/typography/links/unstyled-link
@import compass/typography/lists/inline-block-list
@import compass/typography/links/link-colors
@import compass/typography/text/replacement
@import compass/utilities/general/clearfix
@import 960/grid

$ninesixty-columns: 12
$ninesixty-gutter-width: 60px
$ninesixty-grid-width: 960px

$site-background: #EEEEEE
$header-background: #0059B2
$content-background: #FFFFFF

$nav-text-colour: #FFFFFF

$main-text-colour: #868686

$header-colour-1: #B20000
$header-colour-2: #CCCCCC
$header-colour-3: #AAAAAA

$link-colour: $header-colour-1
$link-hover-colour: lighten($link-colour, 6)

$text-font: "Lato Regular", Arial, sans-serif
$title-font: "Bebas Neue Regular", Arial, sans-serif

$header-menu-hover: #EEEEEE

$break-small: 320px
$break-medium: 650px
$break-wide: 960px

=respond-to($media)
  @if $media == mobile
    @media only screen and (max-width: $break-small)
      @content
  @else if $media == medium-screen
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1)
      @content
  @else if $media == large-screen
    @media only screen and (min-width: $break-medium) and (max-width: $break-wide - 1)
      @content
  @else if $media == wide-screen
    @media only screen and (min-width: $break-wide)
      @content

@mixin menu-item-highlight
  background: #BBBBBB
  
@mixin menu-link
  a
    +unstyled-link
    cursor: pointer
    font:
      size: 1.25em
      family: $title-font
    color: $nav-text-colour

@mixin main-text
  color: $main-text-colour
  font:
    family: $text-font
  margin-bottom: 24px
  line-height: 1.8em
  text-align: justify

@mixin header-text
  color: $header-colour-1
  font:
    family: $title-font
    size: 2.4em
  line-height: 1.125em
  margin-bottom: 20px
  font-weight: normal

=shadow
  +box-shadow(0px 3px 6px rgba(black, 0.16), 0px 3px 6px rgba(black, 0.23))

=rounded-corners
  +border-radius(4px)

.menu-item
  @include menu-link

+grid-system-complete(12)

body
  background: $site-background
  font:
    size: 100%
    family: $text-font
  
h1
  @include header-text

h2
  @include header-text
  font-size: 2.0em
  margin-bottom: 14px

h3
  @include header-text
  font-size: 1.8em
  text-align: center

h4
  @include header-text
  font-size: 1.4em
  color: $main-text-colour

em
  font-style: italic

strong
  font-weight: bold
  
#header
  +shadow
  background: $header-background
  margin-bottom: 30px
  h1
    max-width: 519px
    margin: 0 auto
    margin-bottom: 0px
    padding:
      left: 10px
      right: 10px
    a
      +replace-text("header_logo.png")
      height: 151px
      background-size: contain
      display: block
      padding-top: 14px
 
#header-menu
  text-align: center
  ul
    +inline-block-list(20px)
    li
      padding:
        top: 30px
        bottom: 30px
      a
        font:
          size: 1.8em
        &:hover
          color: $header-menu-hover

#header-submenu
  @extend #header-menu
  @include menu-item-highlight
  ul
    li
      @include menu-link
      padding:
        top: 12px
        bottom: 12px
      a
        font-size: 1.5em

=card
  +respond-to(wide-screen)
    +grid-container
    +rounded-corners
  +respond-to(large-screen)
    +rounded-corners
    margin:
      left: auto
      right: auto
    width: $break-medium
  +shadow
  +clearfix
  background: $content-background
  margin-bottom: 30px
  padding-top: 20px
    
#front-slideshow
  +card
  text-align: center
  overflow: hidden
  .frontpage-header
    background-color: $header-colour-1
    margin-top: -20px
    padding:
      top: 10px
      bottom: 10px
    .frontpage-title
      color: white
      margin-bottom: 0

#update
  +card
  h2
    +grid(12)

img[class*="align"], img[class*="wp-image-"]
  height: auto

#content-container
  background: $content-background
  +card
        
#content
  +clearfix
  padding:
    bottom: 20px
    left: 30px
    right: 30px
  +respond-to(wide-screen)
    padding:
      left: 0px
      right: 0px
      
.entry-header
  +respond-to(wide-screen)
    +grid(12)

@mixin col($cols)
  +grid(12/$cols)
  &:first-child
    +alpha
  &:last-child
    +omega

.entry-content, .update-content
  +respond-to(wide-screen)
    +grid(12)
  p
    @include main-text
    +respond-to(wide-screen)
      margin:
        left: 20px
        right: 20px
    a
      +unstyled-link
      color: $link-colour
      &:hover
        color: $link-hover-colour
  ul
    list-style: circle
    margin: 0 30px
    li
      @include main-text
      margin-bottom: 12px
  .content-image
    text-align: center
    margin-bottom: 20px
    img
      max-width: 100%
  .row
    +respond-to(wide-screen)
      +grid(12)
      +alpha
      +omega
      padding:
        top: 10px
        bottom: 20px
    .col2
      +respond-to(wide-screen)
        @include col(2)
    .col3
      +respond-to(wide-screen)
        @include col(3)
  
.parent-title
  color: $header-colour-2
  font:
    family: $title-font
    size: 1.2em
  
#footer-container
  +shadow
  background: $header-background
  clear: both
  +clearfix
  
#footer
  width: 960px
  margin: 30px auto
  
#footer-items
  +grid(12)
  +clearfix
  margin-bottom: 20px
  
#footer-menu
  +grid(6)
  +alpha
  margin-right: 10px
  width: 440px
  
#footer-widget
  +grid(6)
  +omega
  margin-left: 10px
  width: 440px
  
#colophon
  margin:
    top: 10px
    bottom: 10px
  text-align: center
  clear: both
  color: $nav-text-colour
  
#menu-footer-menu
  padding-right: 4px
  text-align: right
  border-right: 2px solid white
  
.widget_cnss_widget
  list-style: none
  margin-top: 5px
  
#questions
  margin-bottom: 20px
  ul
    color: $header-colour-3
    margin-bottom: 16px
    list-style: circle outside
    li
      margin-bottom: 4px
      a
        +unstyled-link
        &:hover
          color: $header-colour-2

.gallery-summary
  img
    margin-bottom: 16px

table.easy-table 
  th
    font-family: $title-font
    color: $header-colour-1
    font-weight: normal
    font-size: 1.5em
  td
    color: $main-text-colour

small
  font-size: 0.8em

.form-label
  width: 10em
  float: left

span.wpcf7-list-item-label
  margin-right: 5px

.sbc-calendar-wrapper
  color: $main-text-colour

.sbc-calendar
  table
    border-top-color: $main-text-colour !important
    thead
      tr    
        th
          color: $main-text-colour
    tbody
      tr   
        td
          color: $main-text-colour

.sbc-navigation
  font-size: 1.4em
  font-family: $title-font

img#wpstats
  display: none
