@import compass/css3/images
@import compass/reset
@import compass/typography/links/unstyled-link
@import compass/typography/lists/inline-block-list
@import compass/typography/text/replacement
@import compass/utilities/general/clearfix
@import 960/grid

$ninesixty-columns: 12

$background-grad-start: #DDDDDD
$background-grad-mid: #EEEEEE
$background-grad-end: #EEEEEE
$header-background: #0059B2
$content-background: #FFFFFF

$content-text-colour: #868686

$header-colour-1: #D80000
$header-colour-2: #CCCCCC

$text-font: Arial, sans-serif
$title-font: "Bebas Neue Regular", Arial, sans-serif

$header-menu-hover: #EEEEEE

@mixin menu-item-highlight
  background: #BBBBBB
  
@mixin menu-link
  a
    +unstyled-link
    font:
      size: 1.25em
      family: $title-font

.menu-item
  @include menu-link

+grid-system-complete(12)

.container_12
  +clearfix

body
  //background: $background-grad-end
  font:
    size: 100%
    family: $text-font
  line-height: 1.125em
  color: #FFFFFF
  +background(linear-gradient($background-grad-start, $background-grad-mid, $background-grad-end))
  background-repeat: repeat-x
  background-attachment: fixed
  
h1
  color: $header-colour-1
  font:
    family: $title-font
    size: 2.25em
  line-height: 1.125em
  margin-bottom: 10px

h2
  @extend h1
  font-size: 1.75em
  line-height: 1.125em
  margin-bottom: 10px
  
article
  +clearfix

#wrap
  +grid-container
  +clearfix

#header
  background: $header-background
  h1
    a
      +replace-text-with-dimensions("header_logo.png")
      display: block
      margin: 0 auto
      padding-top: 14px
 
#header-menu
  ul
    +inline-block-list(10px)
    li
      padding:
        top: 8px
        bottom: 8px
      &.current-page-ancestor
        @include menu-item-highlight
      &.current-menu-item
        @include menu-item-highlight
      a
        font:
          size: 1.5em
        &:hover
          color: $header-menu-hover

#header-submenu
  @extend #header-menu
  ul
    @include menu-item-highlight
    li
      @include menu-link

#content-container
  +clearfix
  background: $content-background
        
#content
  +grid(12)
  +clearfix
  background: $content-background
  margin:
    top: 16px
    bottom: 16px
  p
    color: $content-text-colour
    font:
      family: $text-font
    margin-bottom: 10px
    &.parent-title
      color: $header-colour-2
      font:
        family: $title-font
        size: 1.125em
  
#footer-container
  background: $header-background
  clear: both
  +clearfix
  
#footer
  +grid(12)
  margin:
    top: 10px
    bottom: 16px
  
#footer-items
  +clearfix
  
#footer-menu
  +grid(6)
  +alpha
  
#footer-widget
  +grid(6)
  +omega
  
#colophon
  margin:
    top: 10px
    bottom: 10px
  text-align: center
  clear: both
  
#menu-footer-menu
  padding-right: 4px
  text-align: right
  border-right: 2px solid white
  
.widget_zilla_social_widget
  list-style: none
  margin-top: 5px